/* CSS styles */



	  /* CSS styles */

label {
font-family: montserrat;}
input {
  background: #8a93ff;}

.id {
text-align: center;}

body{
background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(63,79,255,1) 75%);
}

p {
font-family: montserrat;
font-size: 16px;
text-align: center; }

p2{
text-align: center;
font-size: 14px;
background-color: #2e2e2e;
color: white}

h1{
font-family: lato;
font-size: 32px;
text-align: center; 
color: #585478;}

.button{
text-align: center}

.button2{
text-align: center}

.btn {
  background: #5eff9e;
  background-image: -webkit-linear-gradient(top, #5eff9e, #a3ffd3);
  background-image: -moz-linear-gradient(top, #5eff9e, #a3ffd3);
  background-image: -ms-linear-gradient(top, #5eff9e, #a3ffd3);
  background-image: -o-linear-gradient(top, #5eff9e, #a3ffd3);
  background-image: linear-gradient(to bottom, #5eff9e, #a3ffd3);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cfc3c;
  background-image: -webkit-linear-gradient(top, #3cfc3c, #4ad934);
  background-image: -moz-linear-gradient(top, #3cfc3c, #4ad934);
  background-image: -ms-linear-gradient(top, #3cfc3c, #4ad934);
  background-image: -o-linear-gradient(top, #3cfc3c, #4ad934);
  background-image: linear-gradient(to bottom, #3cfc3c, #4ad934);
  text-decoration: none;
}
