/* CSS styles */



	  /* CSS styles */


body{
 background: linear-gradient(215deg, #ffdaaf, #ffdaaf, #ffe8af, #fff6af, #ffe1af, #ffccaf, #ffc5af, #ffafaf, #ffc5af);
    background-size: 1800% 1800%;

    -webkit-animation: AnimationName 57s ease infinite;
    -moz-animation: AnimationName 57s ease infinite;
    -o-animation: AnimationName 57s ease infinite;
    animation: AnimationName 57s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:2% 0%}
    50%{background-position:99% 100%}
    100%{background-position:2% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:2% 0%}
    50%{background-position:99% 100%}
    100%{background-position:2% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:2% 0%}
    50%{background-position:99% 100%}
    100%{background-position:2% 0%}
}
@keyframes AnimationName {
    0%{background-position:2% 0%}
    50%{background-position:99% 100%}
    100%{background-position:2% 0%}
}

p {
font-family: montserrat;
font-size: 16px;
text-align: center; 
color: #b89354;}

p2{
text-align: center;
font-size: 14px;
background-color: #2e2e2e;
color: #b86754;}

h1{
font-family: lato;
font-size: 32px;
text-align: center; 
color: #b87f54;}

.button {
text-align: center;
}

.button2 {
text-align: center;
}

.btn {
	font-style:italic;
	text-decoration:none;
	font-family:Comic Sans MS;
	box-shadow:inset #fff2b2 0px -24px 20px -5px,#ffeded -3px 4px 6px;
	o-box-shadow:inset #fff2b2 0px -24px 20px -5px,#ffeded -3px 4px 6px;
	-moz-box-shadow:inset #fff2b2 0px -24px 20px -5px,#ffeded -3px 4px 6px;
	-webkit-box-shadow:inset #fff2b2 0px -24px 20px -5px,#ffeded -3px 4px 6px;
	background:#d1ffab;
	background:-o-linear-gradient(90deg, #d1ffab, #f6ffb8);
	background:-moz-linear-gradient( center top, #d1ffab 5%, #f6ffb8 100% );
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d1ffab), color-stop(1, #f6ffb8) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1ffab', endColorstr='#f6ffb8');
	background:-webkit-linear-gradient(#d1ffab, #f6ffb8);
	background:-ms-linear-gradient(#d1ffab, #f6ffb8);
	background:linear-gradient(#d1ffab, #f6ffb8);
	text-indent:0px;
	line-height:22px;
	-moz-border-radius:100px;
	-webkit-border-radius:100px;
	border-radius:100px;
	text-align:center;
	vertical-align:middle;
	display:inline-block;
	font-size:19px;
	color:#000000;
	width:190px;
	height:22px;
	padding:10px;
	text-shadow:#ffdede 2px 2px 0px;
	border-color:#fffae0;
	border-width:1px;
	border-style:solid;
}

.btn:active {
	box-shadow:inset #fff2b2 0px -24px 20px -5px,#ffeded -3px 0 6px;
	o-box-shadow:inset #fff2b2 0px -24px 20px -5px,#ffeded -3px 0 6px;
	-moz-box-shadow:inset #fff2b2 0px -24px 20px -5px,#ffeded -3px 0 6px;
	-webkit-box-shadow:inset #fff2b2 0px -24px 20px -5px,#ffeded -3px 0 6px;
	position:relative;
	top:4px
}

.btn:hover {
	background:#f6ffb8;
	background:-o-linear-gradient(90deg, #f6ffb8, #d1ffab);
	background:-moz-linear-gradient( center top, #f6ffb8 5%, #d1ffab 100% );
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6ffb8), color-stop(1, #d1ffab) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6ffb8', endColorstr='#d1ffab');
	background:-webkit-linear-gradient(#f6ffb8, #d1ffab);
	background:-ms-linear-gradient(#f6ffb8, #d1ffab);
	background:linear-gradient(#f6ffb8, #d1ffab);
}

img {
  border-radius: 50%;
  }
