/* CSS styles */



	  /* CSS styles */

label {
font-family: montserrat;}
input {
  background: #8a93ff;}

.id {
text-align: center;}

body{
  background: linear-gradient(203deg, #f9b2b2, #f9c2b2, #f9cfb2, #f9dbb2, #f9e2b2, #f9eeb2, #f7f9b2, #fbfdc5, #fde6c5, #fdd2c5, #fdc5c5);
    background-size: 2200% 2200%;

    -webkit-animation: AnimationName 59s ease infinite;
    -moz-animation: AnimationName 59s ease infinite;
    -o-animation: AnimationName 59s ease infinite;
    animation: AnimationName 59s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:19% 0%}
    50%{background-position:82% 100%}
    100%{background-position:19% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:19% 0%}
    50%{background-position:82% 100%}
    100%{background-position:19% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:19% 0%}
    50%{background-position:82% 100%}
    100%{background-position:19% 0%}
}
@keyframes AnimationName {
    0%{background-position:19% 0%}
    50%{background-position:82% 100%}
    100%{background-position:19% 0%}
}

p {
font-family: montserrat;
font-size: 16px;
text-align: center; }

p2{
text-align: center;
font-size: 14px;
background-color: #2e2e2e;
color: white}

h1{
font-family: lato;
font-size: 32px;
text-align: center; 
color: #585478;}

.button{
text-align: center}

.button2{
text-align: center}


